body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.clear-fix {
  overflow: auto;
}

.education-entry,
.work-entry,
.project-entry {
  padding: 0 5%;
}

#main,
#workExperience,
#projects,
#education,
#mapDiv {
  background-color: #eee;
}

hr {
  border-color: #0c9;
}

h1 {
  font: 33px/30px "Lato", sans-serif;
  color: #fff;
  display: inline;
  text-shadow: 2px 2px #000;
}

h2 {
  font: bold 30px/29px "Fjalla One", sans-serif;
  color: #0c9;
  padding: 10px;
  text-align: center;
  margin-top: 20px;
  text-shadow: 2px 2px #667;
}

h3 {
  font: italic 20px/22px "Baumans", cursive;
  color: #0c9;
  text-decoration: underline;
  text-shadow: 0.5px 0.5px #000;
}

h4 {
  font: bold 14px/17px;
  color: #333;
}

h2,
h3,
h4,
h5 {
  padding:10px 5%;
}

.date-text,
.location-text {
  font: italic bold 14px/16px "Baumans", cursive;
}

.date-text {
  color: #667;
  float: left;
}

.location-text {
  color: #667;
  float: right;
}

.center-text {
  border-radius: 25px 25px 0 0;
}

p {
  font: 17px/21px "Lato", sans-serif;
  color: #667;
  text-align: justify;
}

a {
  font: 22px/25px "Baumans", cursive;
  color: #355d9a;
  text-decoration: none;
  margin-top: 10px;
  display: block;
}

em {
  color: #667;
  font-size: 17px;
}

.welcome-message {
  font: italic 20px/28px;
}

#skills {
  display: block;
}

#skills-h3 {
  display: block;
  text-shadow: 0.5px 0.5px #000;
}

.orange {
  background-color: #bdb;
}

.orange-text {
  color: #0c9;
  text-shadow: 0.5px 0.5px #000;
  font-family: "Baumans", cursive;
}

.white-text {
  font-weight: bold;
  color: #fff;
}

.gray {
  background-color: #eee;
  padding-bottom: 10px;
  clear: both;
}

.dark-gray {
  background-color: #eee;
}

/* TODO: Replace with image later */
#header {
  background-color: #355d9a;
  border-radius: 0 0 15px 15px;
  padding: 10px 30px 10px;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.center-content {
  padding: 2.5% 5%;
}

ul {
  list-style-type: none;
}

.biopic {
  float: left;
  padding: 10px;
  width: 200px;
  display: inline;
}

img {
  padding: 10px;
  display: block;
  margin: 10px auto;
  border-radius: 25px;
}

span {
  padding: 5px;
  font-size: 15px;
  font-weight: bold;
}

/* Adds border-radius only to map. */
#mapDiv > div {
  border-radius: 25px;
}

#lets-connect {
  text-align: center;
}

#footerContacts {
  background-color: #355d9a;
}

/* Media queries to handle various device widths */

@media only screen and (max-width: 1024px) {
  #lets-connect {
    margin-top: 5%;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {
  #lets-connect {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }
}

#map {
  display: block;
  height: 100%;
  margin: 0 5%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
}

@media only screen and (min-width: 750px) {
  #skills-h3,
  .biopic {
    display: block;
  }
}
